/*------------------------------------------------------
Banner Styles
------------------------------------------------------*/
.banner-slider-area{
    height: 750px;
}
.banner-slider{
    .owl-pagination{
        position: absolute;
        bottom: 55px;
        right: 50%;
        margin-right: -570px;
    }
    .owl-page{
        background-color: rgba(#ffffff, 0.2);
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 33px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
        font-size: 1.5rem;
        color: #ffffff;
        span{
            display: block;
        }
        &.active{
            background-color: rgba($primaryColor, 0.5);
        }
    }
}
.banner-item{
    height: 750px;
    background-size: cover;
    background-position: center right;
    position: relative;
    &.banner-item-1{
        background-image: url(../../images/slider/1.png);
    }
    &.banner-item-2{
        background-image: url(../../images/slider/2.png);
    }
    &.banner-item-3{
        background-image: url(../../images/slider/3.png);
    }
    .play-video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}
.overlay-70{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: relative;
}
.banner-content{
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    .rating{
        width: 53px;
        height: 50px;
        background-image: url(../../images/icons/bstar.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
        line-height: 53px;
    }
    .banner-title{
        margin-top: 25px;
        margin-bottom: 0;
    }
    .banner-date-meta{
        margin-bottom: 0;
        line-height: 100%;
        margin-top: 25px;
        font-size: 1.8rem;
    }
}