/*------------------------------------------------------
Button Styles
------------------------------------------------------*/

.play-video {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: $primaryColor;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($primaryColor, 0.3);
    font-size: 2.2rem;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 0 10px $primaryColor;
    }
    i {
        color: #ffffff;
        margin-left: 5px;
        line-height: inherit;
    }
}

.btn {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    background-color: $primaryColor;
    transition: all 0.3s ease;
    line-height: 50px;
    padding: 0 42px;
    border-radius: 25px;
    &:focus,
    &:visited,
    &:active {
        color: #ffffff;
        background-color: $primaryColor;
        outline: none;
    }
    &:hover {
        color: #ffffff;
        background-color: #111111;
        outline: none;
    }
}
