/*------------------------------------------------------
Contact Page Styles
------------------------------------------------------*/

.google-map {
    height: 450px;
}

.contact-title,
.contact-detail-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: #111111;
}

.contact-form {
    input,
    textarea,
    select {
        padding: 12px 20px;
        margin-bottom: 30px;
        border: 1px solid #e8e8e8;
        &:focus {
            outline: none;
        }
    }
}

.input-success,
.input-error {
    margin-bottom: 0;
    margin-top: 20px;
    padding: 8px 20px;
    display: none;
}

.input-success {
    border: 1px solid #16a085;
}

.input-error {
    border: 1px solid #e74c3c;
}

.contact-infos {
    float: left;
    width: 100%;
    p+& {
        margin-top: 35px;
    }
}

.contact-info-item {
    float: left;
    width: 100%;
    +.contact-info-item {
        margin-top: 25px;
    }
    label {
        margin: 0 20px 0 0;
        float: left;
        width: 80px;
        font-weight: 500;
    }
    p {
        float: left;
        width: calc(100% - 100px);
    }
}
