/*------------------------------------------------------
News Section Styles
------------------------------------------------------*/

.news-section {
    .all-link {
        margin-right: 0;
    }
}

.news-featured {
    position: relative;
    display: block;
    .img-responsive{
        width: 100%;
    }
    .news-date-meta {
        position: absolute;
        left: 30px;
        top: 30px;
        background-color: $primaryColor;
        color: #ffffff;
        display: block;
        line-height: 30px;
        padding: 0 16px;
        z-index: 2;
    }
    .news-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        padding: 100px 30px 20px;
        z-index: 1;
        background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
    }
    .news-title {
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.67;
        color: #ffffff;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 20px;
    }
}

.news-item {
    float: left;
    width: 100%;
    &+& {
        margin-top: 30px;
    }
    .news-thumb {
        display: inline-block;
        float: left;
        width: 170px;
        margin-right: 30px;
        +.news-content {
            width: calc(100% - 200px);
        }
    }
    .news-content {
        float: left;
    }
    .news-date-meta {
        color: $primaryColor;
        margin-top: 10px;
        display: block;
    }
    .news-title {
        color: #111111;
        font-size: 1.6rem;
        margin: 3px 0 0;
        a {
            color: inherit;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .news-excerpt {
        margin-top: 18px;
        margin-bottom: 0;
    }
}
