/*------------------------------------------------------
Single News Page Styles
------------------------------------------------------*/

.news-single {
    float: left;
    width: 100%;
}

.news-single-main {
    float: left;
    width: 100%;
    clear: both;
}

.single-thumb {
    margin-bottom: 30px;
}

.news-entry {
    p {
        margin-bottom: 25px;
        line-height: 2;
        &:last-child {
            margin-bottom: 0;
        }
    }
    blockquote {
        border-color: #e8e8e8 #e8e8e8 #e8e8e8 $primaryColor;
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        position: relative;
        font-weight: 500;
        font-size: 1.6rem;
        color: #111111;
        padding: 30px 60px 30px 75px;
        margin-bottom: 25px;
        background-color: #f7f7f7;
        &:before {
            position: absolute;
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 2.4rem;
            top: 35px;
            left: 35px;
            line-height: 100%;
            color: $primaryColor;
        }
    }
}

.single-footer {
    float: left;
    clear: both;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 40px;
    padding: 12px 0;
    label {
        font-size: 1.5rem;
        margin-bottom: 0;
        font-weight: 500;
        color: #111111;
        display: inline-block;
    }
}

.news-share {
    float: left;
    width: 100%;
    .share-social {
        display: inline-block;
        a {
            margin: 0 8px;
            display: inline-block;
            font-size: 1.5rem;
            .fa-facebook {
                color: #3b5999;
            }
            .fa-twitter {
                color: #55acee;
            }
            .fa-google-plus {
                color: #dd4b39;
            }
            .fa-pinterest {
                color: #bd081c;
            }
        }
    }
}

.news-tag {
    text-align: right;
    a {
        font-size: 1.5rem;
    }
}

.given-comment {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 95px;
    .given-comment-title {
        font-size: 2.4rem;
        margin: 0;
        color: #111111;
        float: left;
        width: 100%;
    }
    .comments {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        width: 100%;
        clear: both;
    }
    .child-comments {
        padding-left: 110px;
    }
    .comment {
        width: 100%;
        float: left;
    }
    .comment-wrap {
        width: 100%;
        float: left;
        border-bottom: 1px solid #e6e6e6;
        padding: 40px 0;
    }
    .commenter-thumb {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        float: left;
        overflow: hidden;
        margin-right: 30px;
        img {
            max-width: 100%;
        }
    }
    .comment-body {
        float: left;
        width: calc(100% - 110px);
    }
    .comment-title {
        margin: 0;
        .commenter-name {
            font-size: 1.6rem;
            color: #111111;
        }
        .comment-date {
            font-size: 1.4rem;
            color: $baseFontColor;
        }
    }
    .comment-content {
        margin-top: 20px;
    }
    .comment-reply {
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        width: 100px;
        height: 35px;
        line-height: 35px;
        border-radius: 17px;
        text-align: center;
        background-color: $primaryColor;
        display: inline-block;
        margin-top: 10px;
    }
}

.commenting-wrap {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 100px;
    .comment-form-title {
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 22px;
        float: left;
        width: 100%;
    }
}

.comment-form {
    float: left;
    width: 100%;
     ::-webkit-input-placeholder {
        color: $baseFontColor;
        opacity: 1;
    }
     ::-moz-placeholder {
        color: $baseFontColor;
        opacity: 1;
    }
     :-ms-input-placeholder {
        color: $baseFontColor;
        opacity: 1;
    }
     :-moz-placeholder {
        color: $baseFontColor;
        opacity: 1;
    }
    input, textarea{
        line-height: 40px;
        padding: 0 20px;
        border: 1px solid #e8e8e8;
        margin-bottom: 30px;
    }
    [type=submit]{
        font-weight: 700;
        font-size: 1.6rem;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        background-color: $primaryColor;
        width: 150px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
    }
}
