// All  variable are here

//Colors
$primaryColor: #eb1436;
$primaryHover: #c8102e;
$secondaryColor: #7b4397;
$baseFontColor: #505050;
    
//Typography
$baseFontSize: 1.4rem;
$baseFontFamily: 'Poppins', sans-serif;
$baseLineHeight: 1.714;